.textEditor {
	position: "absolute";
	top: 0;
	left: 0;
	font-size: 16px;
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background: transparent;
	text-align: center;
	resize: none;
}
