:global(.ql-toolbar) {
	width: 100%;
	display: flex;
}

:global(.ql-editor) {
	padding: 5px 5px 5px 5px !important;
	font-size: 12px;
	line-height: normal;
	height: inherit;
	scrollbar-width: none;

	ul,
	ol {
		padding-left: 0px !important; // Уменьшает отступ списка
	}
	li {
		list-style-position: outside;
	}

	span {
		display: block;
		width: 100%;
	}
}
